/* controlling the menu */
.menu{
    margin: 25px;
    color: white;
    border-spacing:33px;
    
}

/* control the background of the menu */
.menuBackground{
    
    margin: 30px;
    background-color: black;
    padding-left: 10%;
    padding-right: 50%;
    
}

/* controlling the menuFooter */
.menuFooter{
    margin: 8px;
    color: white;
    
    
}
/* control the background of the menuFooter */
.menuFooterBackground{
    
    margin: 30px;
    background-color: black;
    padding-right: 50%;
    
}


/*control the first part  */
.backgroundFirstPart{
    
    margin: 30px;
    background-color: rgb(70, 165, 255);
    height: 300px;
    
}
/*control the background of thirty part  */
.backgroundThirtyPart{
    
    margin: 30px;
    background-color: rgb(70, 165, 255);
    height: 350px;
    
}
/*control the background of last part  */
.backgroundlastPart{
    
    margin: 30px;
    background-color: rgb(209, 218, 224);
    height: 350px;
    
}

/*control the write on the firstPart  */
.firstPart {

    padding-left: 45%;
    padding-top: 10%;
    color: white;
    
}

/* control de "button" */
.buttonFirstPart{
    background:#e9810b;
    border:3px solid #DDDDCC;
    width:300px;
    font-weight:bold;
    text-align: center;
}

/* control the second part */
.secondPart{
    padding-left: 45%;
    color: black;
}
.text1234{
    text-align: left; 
    display:inline-block;
}
.pic1234Inline{
    text-align: left; 
    display:inline-block;
}

/* control text 1 */
.text1{
    color: white;
}

/* control text 2 */
.text2{
    color: white;
}
/* control text 3 */
.text3{
    
    color: white;
}
/* control text 4 */
.text4{
    color: white;
}
/* control pic 1 */
.pic1{
    margin-top: 5%;
    padding-left: 10%;
}

/* control pic 2 */
.pic2{
    
}
/* control pic 3 */
.pic3{
    
}
/* control pic 4 */
.pic4{
    
}
/* control pic 5 */
.pic5{
    
}

/* control pic 6 */
.pic6{
    
}

/* control pic 7 */
.pic7{
    padding-left: 43%;
}


